.card {
    position: relative;
    top: 150px;
    left: 200px;
    width: 683px;
    height: 150px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
    padding: 5px;

}

.text {
    width: 670px;
    height: 110px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 5px;
}

.input {
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgba(235, 235, 235, 0.9);
    border-left: 4px solid rebeccapurple;
}

.span {
    background-color: rgba(255, 33, 255, 0.3);
}

.counterSearch {
    background-color: rgba(235, 235, 235, 0.9);
}

.headerCard {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}